.video-wrapper {
  background-color: #1f1f23;
  border-radius: 8px;
}
.video-commands-overlay {
  position: absolute;
  top: 0;
  right: 4;
  z-index: 999;
}

.video-loading-spinner {
  margin: auto;
}

.video-loading-spinner-span {
  color: white;
}
